@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">Page was not found.</h2>
<h3 class="text-danger">Please excuse us, the page requested page destination was not found.</h3>
<h4>If you believe it is an error, please <a href="mailto:yordan.samardzhiev@outlook.com">write us </a> and we will check it as soon as possible.</h4>
