@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">Something is wrong</h2>
<h3 class="text-danger">Please excuse us.</h3>
<h4>We would be appreciated if you <a href="mailto:yordan.samardzhiev@outlook.com">write us </a> and we will check it as soon as possible.</h4>

