body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: rgb(69,72,77);
    background: -moz-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
    color: #999999;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.myCustomBody {
    float: left;
    width: 75%;
}

.myWidgets {
    display: inline-block;
    width: 1px;
    padding-left: 20px;
}

#contentCreateTopic {
    max-width: 550px;
    min-height: 300px;
}

#titleCreateTopic {
    min-width: 550px;
}

.post {
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: 15px 15px;
    display: inline-block;
    min-width: 800px;
    max-width: 800px;
    min-height: 100px;
    left: 220px;
    border: 1px solid gray;
    margin-bottom: 5px;
}

.userArea {
    text-align: center;
    float: left;
    min-width: 200px;
    max-width: 200px;
    min-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postContentArea {
    border: 1px solid gray;
    border-right: none;
    border-top: none;
    border-bottom: none;
    min-height: 100px;
    min-width: 200px;
    padding-left: 10px;
    margin-left: 200px;
    padding: 5px 5px 5px 5px;
}

.likesArea {
    padding: 10px 10px 10px 10px;
    margin: 0;
    min-height: 50px;
    font-size: 16px;
    text-align: center;
    min-width: 70px;
    max-width: 70px;
    max-height: 70px;
    /*display:inline-block;*/
    overflow: hidden;
    float: left;
}

.editPostBtn {
    margin-top: 10px;
    margin-left: 540px;
    display: block;
}

.btnAddNewPost {
    margin-left: 696px;
}

#textAreaNewPost {
    display: none;
    width: 600px;
    height: 80px;
    max-width: 600px;
    margin-left: 200px;
}

.btnsNewPost {
    margin-left: 677px;
    display: none;
}

.writtenAt {
    margin-left:420px;
    display: block;
    font-style: italic;
    margin-top: 20px;
}

.postsShadowed {
    background-color: black;
}

.postsNotShadowed {
    background-color: #021200;
}

.pageNmbr {
    margin: 0px 10px 0px 10px;
    color:aliceblue;
}

.savePostBtn {
    margin-top: 10px;
    margin-left: 530px;
    display: block;
}

.editContent {
    min-width:500px; 
    min-height:150px
}