@using PeugeotForum.Models
@using Microsoft.AspNet.Identity

@model Post

<span class="text-primary">@Model.Likes.Count</span>

@using (Ajax.BeginForm("Like", "Post", new { postId = Model.PostId }, new AjaxOptions
        {
            UpdateTargetId = "likesArea" + Model.PostId,
            InsertionMode = InsertionMode.Replace,
        }))
{
    @Html.AntiForgeryToken()
    
    if (Model.IsAbleToLike(this.User.Identity.GetUserId()))
    {
        <input type="submit" class="btn-info" value="Vote" />
    }
    else
    {
        if (Model.Likes.Count == 1)
        {
            <span class="text-primary">like</span>
        }
        else
        {
            <span class="text-primary">likes</span>
        }

    }
}


