@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">We are sorry.</h1>
<h3 class="text-danger">An error occurred while processing your request. 
    Please <a href="mailto:yordan.samardzhiev@outlook.com">write us </a> and we will check it as soon as possible!</h3>

@Model.Exception.Message
